<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color:white">ANGULAR CRUD</h1>
        <div class="d-flex">
            <button type="button" data-bs-toggle="modal" (click)="clickaddemployee()" data-bs-target="#exampleModal" class="btn btn-success">Add Employee</button>
        </div>
    </div> 
</nav>
<div class="container-fluid">
<table class='table mt-3' >
    <thead>
        <tr>
            <th scope="col">Employee id</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Emailid</th>
            <th scope="col">Mobile</th>
            <th scope="col">Company</th>
            <th scope="col">DOB</th>
            <th scope="col">Enter Action</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let row of employeeData">
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.email}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.company}}</td>
            <td>{{row.DOB}}</td>
            <td>
                <button (click)="onedit(row)"class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">edit</button>
                <button (click)="deleteEmployee(row)"class="btn btn-danger mx-3">delete</button>
            </td>
        </tr>
    </tbody>
</table>

</div>
  
  <!-- Modal -->
  <div class="modal fade"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="grid-container">
        <div class="modal-body">
            <form [formGroup]="formvalue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">first name</label>
                  <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">last name</label>
                  <input type="text"formControlName="lastName" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">emailid</label>
                    <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">mobile</label>
                    <input type="text"formControlName="mobile" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Company</label>
                    <input type="text" formControlName="company" class="form-control" id="exampleInputPassword1">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Gender</label><br>
                    <input type="radio" id="exampleInputPassword1">
                    <label for="male">Male</label><br>
                    <input type="radio" id="exampleInputPassword1">
                    <label for="female">Female</label><br>
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">DOB</label>
                      <input type="date" formControlName="DOB" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password"formControlName="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Conform Password</label>
                      <input type="password" formControlName="conformpassword" class="form-control" id="exampleInputPassword1">
                    </div>
              </form>
        </div>
      </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-secondary"  data-bs-dismiss="modal">Close</button>
          <button type="button"  *ngIf="showadd" (click)=" postEmployeeDetails()" class="btn btn-primary">Add</button>
          <button type="button"  *ngIf="showupdate" (click)=" updateEmployeeDetails()" class="btn btn-primary">update</button>
        </div>
      </div>
    </div>
  </div>